$student-color: #3498db;
$prof-color: #e74c3c;
$white-background: rgba(255, 255, 255, 0.53);
$border-radius: 4px;
html, body {
	padding: 0px;
	margin: 0px auto;
	overflow-x: hidden;
	font-size: 13px !important;
}

/* ============FONT STYLES AND COLORS============ */

@font-face {
	font-family: 'def-font';
	src: url('font/segoe.ttf');
}

.white-text {
	color: white;
}

/* BANNERS FOR INPUTS */
.success {
	color: white;
	padding: 5px 10px;
	border-radius: $border-radius;
	background-color: #2ecc71;
	margin: 6px 0px;
}

.error {
	color: white;
	padding: 5px 10px;
	border-radius: $border-radius;
	background-color: #e74c3c;
	margin: 6px 0px;
}
// 

.update {
	color: #7f8c8d;
	cursor: pointer;
}

.title {
	font-family: 'def-font';
}

.title-bold {
	font-family: 'def-font';
	font-weight: bold;
}

// UNDERLINE
.emp-prof {
	border: 1px solid $prof-color;
	border-radius: 40px;
	padding: 0px 10px;
}

.emp-stud {
	border: 1px solid $student-color;
	border-radius: 40px;
	padding: 0px 10px;
}

// msg highlight heading
.panel-container {
	background-color: #f1f1f1;
	border-radius:50px;
	display: inline-block;
	padding: 0px 25px;

	
	// font-size: 13px !important;
	// color: black !important;
	height: 35px;
	display: flex;
	align-items: center;
	.msg-img {
		height: 35px;
		width: 35px;
		border-radius: 50%;

		margin: 0 10px 0 -25px;
	}
}

.title-heading {
	color: white;
	background-color: #3498db;
	padding: 10px 20px;
	border-radius: $border-radius;
}


// FONT-AWESOME
.fa {
	padding: 7px;
	border-radius: 50%;
}
.fa-envelope-o {
	margin: 7px;
	background: #FF4E50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

.fa-flag-o {
	margin: 7px;
	background: #D31027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

.fa-sticky-note-o {
	margin: 7px;
	padding: 7px 8px;
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

.fa-mortar-board {
	margin: 7px;
	padding: 8px 7px;
	color: white;
	background: #1CD8D2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* ============BUTTONS============ */

.btn-light {
	outline: none;
	border: 3px solid white;
	border-radius: 40px;
	color: white;
	background-color: transparent;
	font-weight: bold;
	padding: 10px 40px;

	&:hover {
		background: rgba(255, 255, 255, 0.35);
	}

	&:active {
		background: darken(rgba(255, 255, 255, 0.35), 15%);
	}
}

.active {
	background: darken(rgba(255, 255, 255, 0.35), 15%);
}


.btn-student-sm {
	outline: none;
	color: white;
	background-color: $student-color;
	padding: 4px 15px;
	border-radius: 40px;
	border: 0px;
	cursor: pointer;
	
	&:hover {
		background-color: darken($student-color,15%);
	}
}


.btn-default {
	border-radius: 40px !important;
	padding: 4px 13px !important;
}
.btn-prof-sm {
	outline: none;
	color: white;
	background-color: $prof-color;
	padding: 4px 15px;
	border-radius: 40px;
	border: 0px;
	
	&:hover {
		background-color: darken($prof-color,15%);
	}
}


.send-btn {
	border: 1px solid #3498db;
	padding: 4px 10px;
	border-radius: $border-radius;
	color: #3498db;
	
		&:hover {
			 text-decoration: none;
			 color: white;
			 background-color:  #3498db;
			 transition: background-color 0.3s ease-in;
		}
	
}

/* ============ INPUTS ============ */

input, select {
	outline: none;
	border: 1px solid #3498db !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	&:focus {
		border: 1px solid $student-color !important;
	}
}



/* ============PAGE STRUCTURE / COMPONENTS ============ */

.header {
	position: absolute;

	ul {
		align-self: flex-end;
		display: inline-block;
		list-style: none;

		li {
			float: left;
			padding: 10px 30px;
			
			a {
				color: white;
			}
		}
	}
}

#home-page {
	height: 100vh;
	background-image: url("../img/home-page-final.jpg");
	background-position: center;
	background-size: cover;

	h1 {
		margin: 0px auto;
		font-size: 4.5em;
		padding-top: 2em;
		padding-bottom: 30px;
	}

	#btn-container {
		display: flex;
		justify-content: center;
	}

	#form-container {
		margin-top: 2em;
		
		#student-login {
			background: $white-background;
			border-radius: $border-radius;	
			width: 390px;
			padding: 10px 20px;
			padding-bottom: 40px;
		}

		#professor-login {
			background: $white-background;
			border-radius: $border-radius;	
			width: 390px;
			padding: 10px 20px;
			padding-bottom: 40px;
		}
	}
}


.img-stud {
	padding: 0px;
	margin: 0px auto;
	background-image: url('../img/students-final.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	
}

.img-prof {
	padding: 0px;
	margin: 0px auto;
	background-image: url('../img/professors-final.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.signup {
	background-color: $white-background;
	padding: 0px;
	margin: 0px auto;

	border-radius: $border-radius !important;
	
	.s-heading {
		background-color: darken($student-color, 15%);
		color: white;
		margin: 0px auto;
		padding: 15px 20px;
		font-size: 2.4em;


	}

	.s-body {
		padding: 40px 20px;
	}

	.p-heading {
		background-color: darken($prof-color, 15%);
		color: white;
		margin: 0px auto;
		padding: 15px 20px;
		font-size: 2.4em;
	}

	.p-body {
		padding: 40px 20px;
	}
}

.primary-header {
	background-color: #f1f1f1;
	padding: 15px 10px;

}

ul.basic-container {
	background-color: #f1f1f1;
	border-radius: $border-radius;
	list-style: none;

	li {
		margin: 0 auto;
		padding: 20px;
	}
}


.msg-box {
	border: 1px solid #95a5a6;
	border-radius: $border-radius;
	padding: 1em;

	textarea {
		outline: none !important;
		border: 0px !important;
		box-shadow: none !important;
		overflow: hidden;

		&:hover {
			border: 0px !important;
			box-shadow: none !important;
		}
	}
}

#msg-thread-box{
	max-height: 350px;
	background-color: #f1f1f1;
	margin: 10px 0px;
	overflow: auto;
	padding: 10px;
}


.msg-single {
	background-color: white;
	padding: 10px;
	border-radius: 40px;
	margin: 20px !important;
}

.profile-picture {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.course-container {
	position: relative;
	margin: 25px 0px;
	color: white;
	& a {
		color: white;

		&:hover {
			color: white;
			text-decoration: none;
		}
	}

	&:hover .overlay{
		opacity: 1;
	}
}

.course-container {
	display: block;
}


.overlay {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 width: 400px;
	 opacity: 0;
	 transition: .5s ease;
	 background: rgba(44, 62, 80, 0.43);
	 display: flex;
	 justify-content: center;
	 align-items: center;
}

.list-professors {
	max-height: 400px;
	overflow: auto;

}